//button color
$color-orange: linear-gradient(
  180deg,
  #f25322 0%,
  rgba(242, 83, 34, 0.81) 48.96%,
  #f25322 100%
);

//background
$color-dark-brown: #1c1b16;

//slider button
$color-orange: #f25322;
$color-black: #000000;

//text color
$color-beige: #f9f5e1;
$color-beige-light: rgba(249, 245, 225, 0.5);

//background gradient
$color-dark-brown-gradient: linear-gradient(
  133.28deg,
  #000000 0.39%,
  rgba(0, 0, 0, 0) 53.09%
);
